table {
height: auto;
width: auto;
border-spacing:0;
}

h2{color: #f9a9b3;}

h3{
	Display:inline;
}
p, #utilisateurs {padding:3px 0 12px 5px;margin:0 0 7px 0;}
img{margin:0;}
tr.imp{background-color:rgba(0,0,0,.04);}

u{
	text-decoration: underline;
	text-decoration-color:#f9a9b3;
}
