html, body {
	height: 100%;
	width:100%;
	font-family: Courier New;
	font-size:small;
}

html, body { background:white; }

html,body,div,h1,h2,table,tbody,tr,td,img{margin:0;padding: 0;}

img#logo_principal{margin:2px}
#entete{height:40px;width:100%;background: url(fond_entete.png) repeat-x bottom;display: table;}


 /* #table {display: table;} */
.row {display: table-row;}
.cell {display: table-cell;vertical-align:middle;}

#entete .cell {padding: 0 9px;}
#entete .g{padding-right:0;width:1px;}
#entete .m{padding:0;width:1px;}
#entete .d{padding-left:0;width:1px;}

#entete div.logo{width:180px; display: table-cell;padding:0}
#entete div.b{height:40px;width:1px;background: url(bord_onglet.png) no-repeat bottom; display: table-cell;}
#entete div.off{background: url(fond_onglet_off.png) repeat-x bottom;}
#entete div.on{background-color:white;}
#entete div.dujour{padding: 0 18px;}
#entete div.off, #entete div.on{text-align:center;width:1px;}
#entete div.off, #entete div.on, #entete div.dujour, #haut_droit{}
#haut_droit{white-space: nowrap; width:1px} 
span.droite{float: right;}



/* menu deroulant */
ul.menu_deroulant, li.menu_deroulant{padding : 0; margin : 0;}
ul.menu_deroulant ul {display: none; position: absolute; margin: 0px; padding: 0px; border: 1px solid #f9a9b3; border-top-width:0}
ul.menu_deroulant li {list-style-type: none; position: relative; z-index:1500;}
ul.menu_deroulant li:hover ul.menu_deroulant_2 {display: block}
li.menu_deroulant li{padding : 0; margin : 0; background-color: white;}
li.menu_deroulant a{text-decoration: none;}

.horison{background-color:lightgrey}

hr{
	height:1px;
	border:0;
	background-color: #f9a9b3;
}

img{border:0;}

form{margin:0;padding:0;display:inline;vertical-align:middle;}

form.appelle_monkeydate_creer input[type=submit], form.appelle_monkeydate_modifier input[type=submit] {
	height:11px;
	width:11px;
	margin:1px 0;
	padding:1px;
	box-shadow:1px 1px 1px #888888;
	cursor:pointer;
	text-align:center;
	vertical-align:middle;
	border-radius:3px;
}

form.appelle_monkeydate_creer input[type=submit]{
	background-color: gold;
}

form.appelle_monkeydate_modifier input[type=submit] {
	background-color: greenyellow;
}
 
img.inline{vertical-align: middle;margin:0}

.exp{vertical-align: 4px; font-size: 70%}
