.cal{
	display:table;
	border-spacing:5px;
	font-size:12px;
	overflow-y: scroll
}


.t_row{
	display: table-row;
}
.jour, .jour_horizon{
	display:table-cell;
	width: 500px;
	border: 1px solid black;
	padding: 0px;
}

.jour_horizon{background-color:lightgrey}

.jour h1, .jour_horizon h1{
	background-color: rgba(0, 125, 255, 0.7);
	color:white;
	margin:0;
	font-size:12px;
	padding:1px 4px;
	vertical-align:middle;
	text-transform : uppercase;
}





.dimanche h1{
	background-color: rgba(255, 215, 100, 0.7);
}

.heure{
	border: 1px solid black;
	padding:0;
	margin: 3px;

	background-color: rgba(255, 255, 150, 0.3);
	color:black;

	font-size:12px;
	padding:0 2px;
	font-weight:normal;	
}




.jour .entete a, .jour_horizon .entete a{
	text-decoration: none;
	cursor: pointer;
	color:white;
}

.jour .entete a.annee, .jour_horizon .entete a.annee, .jour .entete a.mois, .jour_horizon .entete a.mois {cursor: zoom-out;}
/* .annee::before, .mois::before{content:'<';} */
/* .annee::after, .mois::after{content:'>';} */

.vide .jour {
	border: 1px solid grey;
	background-color: rgba(255, 255, 150, 0.6);
}

.vide .dimanche .jour{
	background-color: rgba(255, 215, 100, 0.6);
}

.vide .jour a{
	color: grey;
	font-style:italic;
}


